<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的图片</title>
</head>
<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>
        {{template "menu-top" .}}
        {{template "menu-sidebar" .}}
        <div class="main-content">
            <section class="section">
                <h1 class="section-header">
                    <div><i class="ion ion-folder"></i> 我的图像</div>
                </h1>
                <div class="row" style="margin-top: -10px;">
                    <div class="col-12 col-sm-12 col-lg-12 table-responsive">
                        <table class="table tab-bordered text-nowrap" id="files-table">
                            {{if ne .imgCount 0}}
                            <tr id="files-table-title" class="empty-space">
                                <th></th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>扩展名</th>
                                <th>大小</th>
                                <th>下载次数</th>
                                <th>上传时间</th>
                            </tr>
                            {{end}}
                            {{range .imgFiles}}
                            <tr class="files-items files">
                                <td><span style="display: none">{{.Id}}</span>
                                    {{if eq .Type 1}}
                                    <i style="font-size: 24px;color: #3498db" class="icon ion-document-text"></i>
                                    {{end}}
                                    {{if eq .Type 2}}
                                    <i style="font-size: 24px;color: #28a745" class="icon ion-image"></i>
                                    {{end}}
                                    {{if eq .Type 3}}
                                    <i style="font-size: 24px;color: #FFC107" class="icon ion-ios-videocam"></i>
                                    {{end}}
                                    {{if eq .Type 4}}
                                    <i style="font-size: 24px;color: #dc3545" class="icon ion-ios-musical-notes"></i>
                                    {{end}}
                                    {{if eq .Type 5}}
                                    <i style="font-size: 24px;color: #343A40" class="icon ion-document"></i>
                                    {{end}}
                                </td>
                                <td>
                                    <a href="/downloadFile?fId={{.Id}}" style="font-weight: 700;color: black">{{.FileName}}</a>
                                </td>
                                {{if eq .Type 1}}
                                <td style="font-weight: 300">文档</td>
                                {{end}}
                                {{if eq .Type 2}}
                                <td style="font-weight: 300">图像</td>
                                {{end}}
                                {{if eq .Type 3}}
                                <td style="font-weight: 300">视频</td>
                                {{end}}
                                {{if eq .Type 4}}
                                <td style="font-weight: 300">音乐</td>
                                {{end}}
                                {{if eq .Type 5}}
                                <td style="font-weight: 300">其他</td>
                                {{end}}
                                <td style="font-weight: 300">{{.Postfix}}</td>

                                {{if gt .Size 1048576}}
                                <td style="font-weight: 300">{{.SizeStr }}</td>
                                {{else}}
                                <td style="font-weight: 300">{{.SizeStr}}</td>
                                {{end}}
                                <td style="font-weight: 300">{{.DownloadNum}}次</td>
                                <td style="font-weight: 300">{{.UploadTime}}</td>
                            </tr>
                            {{end}}
                        </table>
                    </div>
                </div>
                {{if eq .imgCount 0}}
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="alert alert-primary alert-has-icon alert-dismissible show fade">
                            <div class="alert-icon"><i class="ion ion-ios-lightbulb-outline"></i></div>
                            <div class="alert-body">
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                                <div class="alert-title">这里空空的，什么都没有..</div>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </section>
            <span id="tarFile" style="display: none"></span>
        </div>
        {{template "menu-footer"}}
    </div>
</div>
</body>
</html>