<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GO网盘个人首页</title>
    <link rel="icon" href="/static/img/cloud.png" type="image/png">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <h1>个人首页</h1>
    <div class="title">
        <h1>使用情况</h1>
    </div>
    <div class="folder-count">
        <h1>文件夹数量：{{.fileFolderCount}}</h1>
    </div>
    <div class="file-count">
        <h1>文件数量：{{.fileCount}}</h1>
    </div>
    <div class="file-detail">
        <h1>文件明细</h1>
    </div>
    <div>
        <h1>剩余容量</h1>
    </div>
    <div>
        <a href="/cloud/modify" class="button">修改信息</a>
        <a href="/cloud/logout" class="button">登出系统</a>
    </div>
</body>
</html>