<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
    <link rel="icon" href="/static/img/modify.png" type="image/png">
    <link rel="stylesheet" href="/static/css/modify.css">
</head>
<body>
<div class="form-container">
    <h2>修改用户信息</h2>
    {{if .hint}}
    <p class="hint">{{.hint}}</p>
    {{end}}
    <div>
        <h1 class="userName">欢迎！{{.user.NickName}}</h1>
    </div>
    <form id="updateUserForm" enctype="multipart/form-data" action="/cloud/modify" method="post">
        <div class="form-group">
            <label for="currentPassword">原密码*</label>
            <input type="password" id="currentPassword" name="currentPassword" required>
        </div>

        <div class="form-group">
            <label for="newPassword">新密码</label>
            <input type="password" id="newPassword" name="newPassword">
        </div>

        <div class="form-group">
            <label for="confirmPassword">确认密码</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </div>

        <div class="form-group">
            <label for="nickname">昵称</label>
            <input type="text" id="nickname" name="nickname" placeholder="1-10位">
        </div>

        <div class="form-group">
            <label for="avatar">上传头像</label>
            <input type="file" id="avatar" name="avatar" accept="image/*">
        </div>

        <button type="submit">提交</button>
    </form>
    <p id="error-message" class="error-message"></p><br>
    <div class="action-buttons">
        <a href="/cloud/index" class="jumpbutton">返回首页</a>
    </div>
</div>
<script src="/static/js/modify.js"></script>
</body>
</html>