<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
    <link rel="icon" href="/static/img/cloud.png" type="image/png">
    <link rel="stylesheet" href="/static/css/upload.css">
</head>
<body>
<div class="container">
    <h2>当前文件夹：</h2>
    {{if .folder.FileFolderName}}
    <h2>{{.folder.FileFolderName}}</h2>
    {{else}}
    <h1>根目录</h1>
    {{end}}
    <h1>文件上传</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="hidden" id="fid" name="fid" value="{{.fId}}">
        <div>
            <label for="fileInput">选择文件:</label>
            <input type="file" id="fileInput" name="file">
        </div>
        <div>
            <button type="button" id="uploadButton">上传</button>
        </div>
        <div id="status"></div>
    </form>
</div>
<script src="/static/js/upload.js"></script>
</body>
</html>